<sw-tabstrip>

  <sw-tabstrip-sidebar>
    <sw-pane title="Drawing tools">
      <h4>Drawin tools</h4>
      <sw-toolbar>
        <!--eraser  fa-text-width -->
        <sw-toolbar-button title="1" icon="fa-square-o" click="vm2.mapService.togglePolygonDrawingInteraction()" />
        <sw-toolbar-button title="2" image="~/images/multiline.ico" click="vm2.mapService.toggleLineStringDrawingInteraction()" />
        <sw-toolbar-button title="3" icon="fa-pencil" click="vm2.mapService.togglePointDrawingInteraction()" />
        <sw-toolbar-button title="4" icon="fa-circle-o" click="vm2.mapService.toggleCircleDrawingInteraction()" />
      </sw-toolbar>
    </sw-pane>
    <sw-pane title="Layers">
      <h4>Layers</h4>
    </sw-pane>
    <sw-pane title="?">
      <h4>?</h4>
    </sw-pane>
  </sw-tabstrip-sidebar>

  <sw-tabstrip-map>
    <sw-map map-service="vm2.mapService">
      <!--<sw-drawing-interaction map-service="vm2.mapService"></sw-drawing-interaction>-->
    </sw-map>
  </sw-tabstrip-map>

  <sw-tabstrip-cursor-position-box>
      <div>Coordinate: {{vm2.pointerCoordinate | coordinateFormat}}</div>
  </sw-tabstrip-cursor-position-box>

</sw-tabstrip>

<script type="text/ng-template" id="swTabstrip.html">

    <div class="topbar">
        <!--<ul class="toolbar">
          <li ng-repeat="pane in panes" ng-class="{active: pane.selected}">
            <a ng-click="toggle(pane)" class="btn btn-default btn-sm">
              <i class="menu-icon fa fa-pencil">{{pane.title}}</i>
            </a>
          </li>
        </ul>-->      
      <div class="toolbar">
        <a class="btn btn-primary btn-sm" 
             ng-click="toggle(pane)" 
             ng-repeat="pane in panes" 
             ng-class="{active: pane.selected}" >
            <i class="menu-icon fa fa-pencil"></i>&nbsp; {{pane.title}}
        </a>
      </div>
      <div class="cursorPositionBox" ng-transclude="cursorPositionBox">
      </div>
    </div>

  <div id="main-area-wrapper" ng-class="{'wide': anyPaneSelected()}">
    <div class="map" style="" ng-transclude="map">
    </div>
  </div>
  <div class="sidebar-wrapper" ng-transclude="sidebar" ng-class="{'open': anyPaneSelected()}">
  </div>
</script>

<script type="text/ng-template" id="swPane.html">
  <div ng-show="selected" ng-transclude></div>
</script>

<script type="text/ng-template" id="swMap.html">
  <div style="height: 100%;">
    <div ng-transclude></div>
  </div>
</script>

<script type="text/ng-template" id="swToolbar.html">
  <ul class="toolbar">
    <li ng-repeat="toolbarButton in toolbarButtons" ng-class="{active: toolbarButton.selected}">
      <a ng-click="toggle(toolbarButton)">
        <div ng-if="toolbarButton.icon">
          <i class="menu-icon fa {{toolbarButton.icon}}"></i>&nbsp; {{toolbarButton.title}}
        </div>
        <div ng-if="toolbarButton.image">
          <img src="{{toolbarButton.image}}" height="20" width="18"/>&nbsp; {{toolbarButton.title}}
        </div>
      </a>
    </li>
  </ul> 
  <div ng-transclude></div>
</script>

