<sw-frame>

  <sw-frame-sidebar>
    <sw-pane title="Drawing tools">
      <h4>Drawin tools</h4>
      <sw-sidebar>
        <!--eraser  fa-text-width -->
        <sw-sidebar-button title="Polygon" icon="fa-square-o" click="vm2.mapService.togglePolygonDrawingInteraction()" />
        <sw-sidebar-button title="Line" image="images/multiline.ico" click="vm2.mapService.toggleLineStringDrawingInteraction()" />
        <sw-sidebar-button title="Point" icon="fa-pencil" click="vm2.mapService.togglePointDrawingInteraction()" />
        <sw-sidebar-button title="Circle" icon="fa-circle-o" click="vm2.mapService.toggleCircleDrawingInteraction()" />
        <sw-sidebar-button title="Delete" icon="fa-eraser" click="vm2.mapService.toggleDeleteDrawingInteraction()" />
        <sw-sidebar-button title="Modify" icon="fa-circle-o" click="vm2.mapService.toggleModifyDrawingInteraction()" />
        <sw-sidebar-button title="Move" icon="fa-circle-o" click="vm2.mapService.toggleMoveDrawingInteraction()" />
        <sw-sidebar-button title="Details" icon="fa-circle-o" click="vm2.mapService.toggleShowDrawingDetailsInteraction()" />
      </sw-sidebar>
    </sw-pane>
    <sw-pane title="Layers">
      <h4>Layers</h4>
    </sw-pane>
    <sw-pane title="?">
      <h4>?</h4>
        <ul class="nav nav-pills nav-stacked">
          <li><a><span class="glyphicon glyphicon-off"></span>  Overview</a></li>
          <li><a><span class="glyphicon glyphicon-user"></span>  Profile</a></li>
          <li><a><span class="glyphicon glyphicon-lock"></span>  Access</a></li>
          <li><a><span class="glyphicon glyphicon-envelope"></span>  Message</a></li>
        </ul>
    </sw-pane>
  </sw-frame-sidebar>

  <sw-frame-map>
    <sw-map map-service="vm2.mapService">
      <!--<sw-drawing-interaction map-service="vm2.mapService"></sw-drawing-interaction>-->
    </sw-map>
  </sw-frame-map>

  <sw-frame-cursor-position-box>
      <div>Coordinate: {{vm2.pointerCoordinate | coordinateFormat}}</div>
  </sw-frame-cursor-position-box>

</sw-frame>

<script type="text/ng-template" id="swFrame.html">

    <div class="topbar">
        <!--<ul class="toolbar">
          <li ng-repeat="pane in panes" ng-class="{active: pane.selected}">
            <a ng-click="toggle(pane)" class="btn btn-default btn-sm">
              <i class="menu-icon fa fa-pencil">{{pane.title}}</i>
            </a>
          </li>
        </ul>-->      
      <div class="toolbar">
        <a class="btn btn-primary btn-sm" 
             ng-click="toggle(pane)" 
             ng-repeat="pane in panes" 
             ng-class="{active: pane.selected}" >
            <i class="menu-icon fa fa-pencil"></i>&nbsp; {{pane.title}}
        </a>
      </div>
      <div class="cursorPositionBox" ng-transclude="cursorPositionBox">
      </div>
    </div>

  <div id="main-area-wrapper" ng-class="{'wide': anyPaneSelected()}">
    <div class="map" style="" ng-transclude="map">
    </div>
  </div>
  <div class="sidebar-wrapper" ng-transclude="sidebar" ng-class="{'open': anyPaneSelected()}">
  </div>
</script>

<script type="text/ng-template" id="swPane.html">
  <div ng-show="selected" ng-transclude></div>
</script>

<script type="text/ng-template" id="swMap.html">
  <div style="height: 100%;">
    <div ng-transclude></div>
  </div>
</script>

<script type="text/ng-template" id="swSidebar.html">
  <ul class="nav nav-pills nav-stacked sidebar">
    <li ng-repeat="button in buttons" ng-class="{active: button.selected}">
      <a ng-click="toggle(button)">
        <div ng-if="button.icon">
          <i class="menu-icon fa {{button.icon}}"></i>&nbsp; {{button.title}}
        </div>
        <div ng-if="button.image">
          <img src="{{button.image}}" height="14" width="14"/>&nbsp; {{button.title}}
        </div>
      </a>
    </li>
  </ul> 
  <div ng-transclude></div>
</script>

